* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "Rawline", sans-serif;
}

.login-pf body {
    background: #0C326F;
    color: black;
}

.login-pf-page {
    padding-top: 8%;
}

#kc-header {
    display: none;
}

.card-pf {
    width: 408px;
    margin: auto;
}

#kc-login {
    background-color: #1351B4;
    border-radius: 32px;
    font-weight: 600;
    font-size: 16.8px;
    padding-top: 8px;
    padding-bottom: 8px;
}

#kc-login:hover {
    background-color: #396DC0;
}

#kc-login:focus {
    border: none;
    outline: dashed 4px #C2850C;
    outline-offset: 4px;
}

#title {
    font-weight: 500;
    font-size: 29.3px;
}

.field-labels {
    font-weight: 600;
    font-size: 14px;
}

#help-message {
    font-weight: 400;
    font-size: 16.8px;
    color: black;
}

.no-border {
    background: none !important;
    border: none !important;
}

svg {
    color: #888888;
    margin-left: 8px;
    height: 16px;
    width: 16px;
}

.field {
    border: solid 1px #888888;
    border-radius: 4px;
}

.field:hover{
    background-color: #DEDEDE;
}

.field:focus-within{
    border: none;
    outline: solid 3px #C2850C;
}

#username {
    padding-left: 0;
    font-size: 14px;
    font-weight: 400;
}

#username:focus {
    border: none;
    outline: none;
}

#password {
    padding-left: 0;
    font-size: 14px;
    font-weight: 400;
}

#password:focus{
    border: none;
    outline: none;
}